@charset "utf-8";
/* Author:      Jourdan Bul-lalayao
 * Stylesheet:  layout.css
 * Purpose:     Stylesheet for "7 Benefits to Video Gaming" page
 */

h1 { border-width: 3px;
			border-style: solid;	
			-webkit-border-radius: 15px;
		   	-moz-border-radius: 15px;
		   	border-radius: 15px;
		   	margin: 10px;
			padding: 5px;
}

#links {
	border-width: 3px;
			border-style: solid;	
			-webkit-border-radius: 15px;
		   	-moz-border-radius: 15px;
		   	border-radius: 15px;
		   	margin: 10px;
			padding: 5px;
}

#wrapper { width: 80%;
			margin-left: auto;
			margin-right: auto;
}

#welcome { border-width: 3px;
			border-style: solid;	
			-webkit-border-radius: 15px;
		   	-moz-border-radius: 15px;
		   	border-radius: 15px;
		   	margin: 10px;
			padding: 5px;
			background-color: #cccccc;
}

#content { border-width: 3px;
			border-style: solid;	
			-webkit-border-radius: 15px;
		   	-moz-border-radius: 15px;
		   	border-radius: 15px;
		   	margin: 10px;
			padding: 5px;
			background-color: #cccccc;
}

body { background-color: #CCCCFF;
	   color: #000000; } 
	   
#links { background-color: #cccccc;
		color: #000000; }
		
#footer { font-size: 70%; text-align: center; padding: 10px;
			clear: both;}
			
.figure {float: right;
			margin: 10px;
			text-align: center;
			font-size: .8em;
			font-style: italic;}
			
.clearleft {clear: left;}
