/* blue color: color: #026CB1 */

/* ADDED MYSELF */

#top_wrapper {
  background-color:#171717;
  padding:8px;
  /*padding:10px 25px 10px 25px;*/
  margin-top:20px;
}

#top_links {
  float:right;
  display:block;
  /*padding:25px;*/
}

.top_link {
  color:#69B6D3;
  font-size:18px;
  text-decoration:none;
  /*padding:5px;*/
}

.top_link:hover {
  color:#C8C8C8;
  text-decoration:underline;
}

.content_clear_floats {
      clear:both;
}

.post_meta p, .post_meta p a {
      color:#000000;
}

.post_meta p a:hover {
      color:#000000;
      text-decoration:underline;
}

.thread_tools li a {
      color:#69B6D3;
}

.thread_tools li a:hover {
      color:#FFFFFF;
      text-decoration:underline;
}

.author a {
      color:#000000;
}

td p {
      color:#000000;
}

p {
      color:#C8C8C8;
      font-size:small;
}

p a {
      color:#69B6D3;
      text-decoration:none;
}

p a:hover {
      color:#FFFFFF;
      text-decoration:underline;
}

a {
      color:#69B6D3;
}

a:hover {
      color:#FFFFFF;
      text-decoration:underline;
}

h1 {
       font-size:13px;
       display:inline;
}

.thead strong {
       color:#33CCFF; /* for board statistics color */
}

a:hover {
       text-decoration:underline;
}

.buddy {
        color:#FFFFFF;
}

.buddy:hover {
        text-decoration:underline;
        color:#FFFFFF;
}

.tfoot strong {
        color:#FFFFFF;
}

strong a {
        color:#33CCFF;
}


.profile_label {
	display:inline-block;
	text-align:left;
        width:110px;
}

.bit_nav {
	color: #FFFFFF;
	font-size: 13px;
}

.bit_nav:link {
        color:#FFFFFF;
}

.bit_nav:hover {
        color:#FFFFFF;
        text-decoration:underline;
}

.nav_separator {
        color: #33CCFF;
}

.forum_link, .forum_link:link {
        color:#026CB1;
        text-decoration:none;
}

.forum_link:hover {
        color: #000;
        text-decoration:underline;
}

.sub_forum_link, .sub_forum_link:link {
        color:#026CB1;
}

.sub_forum_link:hover {
        color: #000;
        text-decoration:underline;
}

.trow1 b a {
        color:#026CB1;
}

#language_select {
        margin-top:-7.5px;
}

#panel a, #panel a:link {
        color:#69B6D3;
}

#panel a:hover {
        color:#FFFFFF;
        text-decoration:underline;
}

.bottommenu a, .bottommenu a:link {
        color:#69B6D3;
}

.bottommenu a:hover {
        color:#FFFFFF;
        text-decoration:underline;
}

footer {
	/*border-width: thick 0 0 0;
	border-style: solid;
	border-color:#171717;*/
	padding:10px;
        background-color:#191919;
	clear:both;
}


footer li {
	color: #FF6600;
	list-style: none;
        font-family:Cambria;
	font-size: 90%;
}

footer li a {
	text-decoration:none;
	color:white;	
	font-size:90%;
}

footer li a:hover {
	text-decoration:underline;
        color:white;
}

#footnav, #footacc, #footsup, #footmed, #footabout, #footother {
	margin-left:6%;
	float:left;
	overflow:hidden;
	clear:right;
}

#copyright {
	clear:both;
	font-size:90%;
	text-align:right;
}

#nav {
  padding:7px;
  border:thin solid #000000;
  font-family:"Arial Black";
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999) to (#FFFFFF));
  background-image: -moz-linear-gradient(top, #999999, #FFFFFF);
  filter: progid:DXImageTransform.Microsoft.gradient (startColorstr=#FF999999, endColorstr=#FFFFFFF);
  background-image: linear-gradient(#999999, #FFFFFF);
}


#nav > li {
  list-style:none;
  display:inline-block;
  /*margin:-2px;*/
  position:relative;
}  


#nav li > a {
  text-decoration:none;
  padding:7px;
  color:#171717;
}

#nav > li:hover > a {
  padding:7px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444) to (#000000));
  background-image: -moz-linear-gradient(top, #444444, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient (startColorstr=#FF444444, endColorstr=#000000);
  background-image: linear-gradient(#444444, #000000);
  color:#FFFFFF;
}

#nav ul {
  display:none; 
  text-align:left;
}

#nav li:hover ul {
  background-color:#404040;
  border-color:#000000;
  border-width:0px 2px 2px 2px;
  border-style:solid;
  border-radius:0px 0px 10px 10px;
  padding:5px;
  width:100px;
  display:block;
  position:absolute;
  margin-top:7px;
  list-style-type:none;
}

#nav ul li {
  font-family:Arial, Helvetica, sans-serif;
  padding:3px;
}

#nav ul li a {
  text-decoration:none;
  font-size:14px;  
  color:#FFFFFF; 
}

#nav ul li a:hover {
  text-decoration:underline; 
}

body {
  background-color:#303030;
  background-image: url(http://www.hyakkiscorner.com/images/use_your_illusion.png);
  background-repeat:repeat;
}

a {
	color:#026CB1;
	text-decoration: none;
}

a:hover, a:active {
	color: #000;
	text-decoration: underline;
}

#container {
	/*background: #252525;
	width: 70%;
	color: #FFFFFF;
	min-width: 900px;
	max-width: 900px;
	margin: auto auto;*/
	font-family: Verdana, Arial, Sans-Serif;

        /*background-color:#FFFFFF;
        background:rgba(255,255,255,0.1);*/
        color:#C8C8C8;
        min-width:900px;
        max-width:900px;
        margin-left:auto;
        margin-right:auto;
        font-size:95%;
}

#content {
	width: auto !important;
}

.content_section {
       background-color:#FFFFFF;
       background:rgba(255,255,255,0.1);
       padding:25px;
       margin-top:-15px;
}

.menu ul {
	color: #FFFFFF;
	text-align: right;
	padding: 4px;
	font-weight: bold;
}

.menu ul a:link, .menu ul a {
	color: #69B6D3;
	text-decoration: none;
}

.menu ul a:hover {
        color: #FFFFFF;
        text-decoration:underline;
}

#panel {
	background: #171717;
	color: #FFFFFF;
	border-width: thick 0 thick 0;
	border-style: solid;
	border-color: #171717;
	padding: 8px;	
	font-size: 11px;
}

#panel .remember_me input {
	vertical-align: middle;
	margin-top: -1px;
}

table {
	color: #000000;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 13px;
}

.tborder {
	width: 100%;
        border-width:thin 0 0 0;
        border-color:#FF6600;
        border-style:solid;
}

.thead {
        background:rgb(10,10,10); /* FALL BACK COLOR */
        background:rgba(10, 10, 10, 0.4);
        padding:7px;
        color:#C8C8C8;
}

.thead a:link {
	color: #33CCFF;
	text-decoration: none;
}

.thead a:hover {
        color: #FFFFFF;
        text-decoration:underline;
}

.tcat {
	background: #CCCCCC;
	color: #000000;
	font-size: 12px;
}

.tcat a:link {
	color: #000000;
}

/*.tcat a:hover {
        color:#FFFFFF;
}*/

.tcat a:active {
	color: #026CB1;
}

.trow1 {
        background:#f0f0f0;
	/*background: #D8D8D8;*/
}

.trow2 {
        background:#E0E0E0;
        /*background:#f4f4f4;
	/*background: #B8B8B8;*/
}

.trow_shaded {
	background: #ffdde0;
}

.trow_selected td {
	background: #FFFBD9;
}

.trow_sep {
	background: #e5e5e5;
	color: #000;
	font-size: 12px;
	font-weight: bold;
}

.tfoot {
	background:rgb(10,10,10); /* FALL BACK COLOR */
        background:rgba(10, 10, 10, 0.4);
        color: #FFFFFF;
}

.tfoot a, .tfoot a:link {
	color: #69B6D3;
	text-decoration: none;
}

.tfoot a:hover, .tfoot a:active {
	color: #ffffff;
	text-decoration: underline;
}

.bottommenu {
	/*padding: 10px;
	background: #252525;*/
	color: #FFFFFF;

}

.navigation {
}

.navigation a:link {
	text-decoration: none;
}

.navigation a:hover, .navigation a:active {
	text-decoration: underline;
}

.navigation .active {
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
}

.smalltext {
	font-size: 11px;
}

.largetext {
	font-size: 16px;
	font-weight: bold;
}

input.textbox {
	background: #ffffff;
	color: #000000;
	border: 1px solid #0f5c8e;
	padding: 1px;
}

textarea {
	background: #ffffff;
	color: #000000;
	border: 1px solid #0f5c8e;
	padding: 2px;
	font-family: Verdana, Arial, Sans-Serif;
	line-height: 1.4;
	font-size: 13px;
}

select {
	background: #ffffff;
	border: 1px solid #0f5c8e;
}

.editor {
	background: #f1f1f1;
	border: 1px solid #ccc;
}

.editor_control_bar {
	background: #fff;
	border: 1px solid #0f5c8e;
}

.autocomplete {
	background: #fff;
	border: 1px solid #000;
	color: black;
}

.autocomplete_selected {
	background: #adcee7;
	color: #000;
}

.popup_menu {
	background: #ccc;
	border: 1px solid #000;
}

.popup_menu .popup_item {
	background: #fff;
	color: #000;
}

.popup_menu .popup_item:hover {
	background: #C7DBEE;
	color: #000;
}

.trow_reputation_positive {
	background: #ccffcc;
}

.trow_reputation_negative {
	background: #ffcccc;
}

.reputation_positive {
	color: green;
}

.reputation_neutral {
	color: #444;
}

.reputation_negative {
	color: red;
}

.invalid_field {
	border: 1px solid #f30;
	color: #f30;
}

.valid_field {
	border: 1px solid #0c0;
}

.validation_error {
	background: url(../../../images/invalid.gif) no-repeat center left;
	color: #f30;
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	padding-left: 22px;
}

.validation_success {
	background: url(../../../images/valid.gif) no-repeat center left;
	color: #00b200;
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	padding-left: 22px;
}

.validation_loading {
	background: url(../../../images/spinner.gif) no-repeat center left;
	color: #555;
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	font-size: 11px;
	padding-left: 22px;
}

/* Additional CSS (Master) */
img {
	border: none;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
	float: none;
	width: 1%;
}

.hiddenrow {
	display: none;
}

.selectall {
	background-color: #FFFBD9;
	font-weight: bold;
	text-align: center;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.menu ul {
	list-style: none;
	margin: 0;
}

.menu li {
	display: inline;
	padding-left: 5px;
}

.menu img {
	padding-right: 5px;
	vertical-align: top;
}

#panel .links {
	margin: 0;
	float: right;
}

.expcolimage {
	float: right;
	width: auto;
	vertical-align: middle;
	margin-top: 3px;
}

img.attachment {
	border: 1px solid #E9E5D7;
	padding: 2px;
}

hr {
	background-color: #000000;
	color: #000000;
	height: 1px;
	border: 0px;
}

#copyright {
	font: 11px Verdana, Arial, Sans-Serif;
	margin: 0;
	padding: 10px 0 0 0;
}

#copyright a {
        color:#69B6D3;
}

#debug {
	float: right;
	text-align: right;
	margin-top: 0;
}

blockquote {
	border: 1px solid #ccc;
	margin: 0;
	background: #fff;
	padding: 4px;
}

blockquote cite {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	font-style: normal;
	display: block;
	margin: 4px 0;
}

blockquote cite span {
	float: right;
	font-weight: normal;
}

blockquote cite span.highlight {
	float: none;
	font-weight: bold;
	padding-bottom: 0;
}

.codeblock {
	background: #fff;
	border: 1px solid #ccc;
	padding: 4px;
}

.codeblock .title {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	margin: 4px 0;
}

.codeblock code {
	overflow: auto;
	height: auto;
	max-height: 200px;
	display: block;
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 13px;
}

.subforumicon {
	border: 0;
	vertical-align: middle;
}

.separator {
	margin: 5px;
	padding: 0;
	height: 0px;
	font-size: 1px;
	list-style-type: none;
}

form {
	margin: 0;
	padding: 0;
}

.popup_menu .popup_item_container {
	margin: 1px;
	text-align: left;
}

.popup_menu .popup_item {
	display: block;
	padding: 3px;
	text-decoration: none;
	white-space: nowrap;
}

.popup_menu a.popup_item:hover {
	text-decoration: none;
}

.autocomplete {
	text-align: left;
}

.subject_new {
	font-weight: bold;
}

.highlight {
	background: #FFFFCC;
	padding-top: 3px;
	padding-bottom: 3px;
}

.pm_alert {
	background: #FFF6BF;
	border: 1px solid #FFD324;
	text-align: center;
	padding: 5px 20px;
	margin-bottom: 15px;
	font-size: 11px;
}

.red_alert {
	background: #FBE3E4;
	border: 1px solid #A5161A;
	color: #A5161A;
	text-align: center;
	padding: 5px 20px;
	margin-bottom: 15px;
	font-size: 11px;
}

.high_warning {
	color: #CC0000;
}

.moderate_warning {
	color: #F3611B;
}

.low_warning {
	color: #AE5700;
}

div.error {
	padding: 5px 10px;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	background: #FFF6BF;
	font-size: 12px;
}

div.error p {
	margin: 0;
	color: #000;
	font-weight: normal;
}

div.error p em {
	font-style: normal;
	font-weight: bold;
	padding-left: 24px;
	display: block;
	color: #C00;
	background: url(../../../images/error.gif) no-repeat 0;
}

div.error ul {
	margin-left: 24px;
}

.online {
	color: #15A018;
}

.offline {
	color: #C7C7C7;
}

.pagination {
	font-size: 11px;
	padding-top: 10px;
	margin-bottom: 5px;
}

.tfoot .pagination, .tcat .pagination {
	padding-top: 0;
}

.pagination .pages {
	font-weight: bold;
}

.pagination .pagination_current, .pagination a {
	padding: 2px 6px;
	margin-bottom: 3px;
}

.pagination a {
	border: 1px solid #81A2C4;
}

.pagination .pagination_current {
	background: #F5F5F5;
	border: 1px solid #81A2C4;
	font-weight: bold;
	color: #000;
}

.pagination a:hover {
	background: #F5F5F5;
	text-decoration: none;
}

.thread_legend, .thread_legend dd {
	margin: 0;
	padding: 0;
}

.thread_legend dd {
	padding-bottom: 4px;
	margin-right: 15px;
        color:#FFFFFF;
}

.thread_legend img {
	margin-right: 4px;
	vertical-align: bottom;
}

/*.forum_legend, .forum_legend dt, .forum_legend dd {
	margin: 0;
	padding: 0;
}*/


.forum_legend {
        width:100%;
}

.forum_legend dt, .forum_legend dd {
	margin: 0;
	padding: 0;
}

.forum_legend dd {
	float: left;
	margin-right: 10px;
}

.forum_legend dt {
	margin-right: 10px;
	float: left;
}

.success_message {
	color: #00b200;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

.error_message {
	color: #C00;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

.post_body {
	padding: 15px;
}

.post_content {
	padding: 5px 10px;
}

.quick_jump {
	background: url(../../../images/jump.gif) no-repeat 0;
	width: 13px;
	height: 13px;
	padding-left: 13px; /* amount of padding needed for image to fully show */
	vertical-align: middle;
	border: none;
}

.repbox {
	font-size:16px;
	font-weight: bold;
	padding:5px 7px 5px 7px;
}

._neutral {
	background-color:#FAFAFA;
	color: #999999;
	border:1px solid #CCCCCC;
}

._minus {
	background-color: #FDD2D1;
	color: #CB0200;
	border:1px solid #980201;
}

._plus {
	background-color:#E8FCDC;
	color: #008800;
	border:1px solid #008800;
}

.pagination_breadcrumb {
	background-color: #f5f5f5;
	border: 1px solid #fff;
	outline: 1px solid #ccc;
	padding: 5px;
	margin-top: 5px;
	font-weight: normal;
	white-space: nowrap;
}

.pagination_breadcrumb_link {
	vertical-align: middle;
	cursor: pointer;
}