@charset "utf-8";
/* Author:      Jourdan Bul-lalayao
 * Stylesheet:  stylesheet.css
 * Purpose:     Stylesheet for "Pokemon Reference" page */

#logo { background-image: url(images/logo.jpg);
		margin-left: auto;
		margin-right: auto;
		background-color:#FFFFFF;
		background-position: center;
		background-repeat:no-repeat;
		height: 300px;
		width: auto;
		order-width: 3px;
		border-width: 2px;
		border-style: solid;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		margin-top: 10px;
}

#welcome { border-width: 2px;
		   border-style: solid;
		   background-color:#CCFFFF;
		   -webkit-border-radius: 15px;
		   -moz-border-radius: 15px;
		   border-radius: 15px;
		   margin: 10px;
		   padding: 5px;}

#characters { border-width: 2px;
		   	border-style: solid;
		   	-webkit-border-radius: 15px;
		  	-moz-border-radius: 15px;
		   	border-radius: 15px;
		   	margin: 10px;
		   	padding: 5px;
			background-color:#CCFFFF;}

#movies { border-width: 2px;
		   border-style: solid;
		   background-color:#CCFFFF;
		   -webkit-border-radius: 15px;
		   -moz-border-radius: 15px;
		   border-radius: 15px;
		   margin: 10px;
		   padding: 5px;}
		   
#pokedex { border-width: 2px;
		   border-style: solid;
		   -webkit-border-radius: 15px;
		   -moz-border-radius: 15px;
		   border-radius: 15px;
		   margin: 10px;
		   padding: 5px;
		   background-color:#CCFFFF;}
		   
#seasons { border-width: 2px;
		   border-style: solid;
		   -webkit-border-radius: 15px;
		   -moz-border-radius: 15px;
		   border-radius: 15px;
		   margin: 10px;
		   padding: 5px;
		   background-color:#CCFFFF;}

#announcements { border-width: 2px;
				 border-style: solid;
				 background-color:#CCFFFF;	
				 -webkit-border-radius: 15px;
		   		 -moz-border-radius: 15px;
		   		 border-radius: 15px;
		   	 	 margin: 10px;
				 padding: 5px;} 

#dailyfact { 
			 background-color:#CCFFFF;
			border-width: 2px;
				 border-style: solid;	
				 -webkit-border-radius: 15px;
		   		 -moz-border-radius: 15px;
		   		 border-radius: 15px;
		   	 	 margin: 10px;
				 padding: 5px;
				 height: 210px;
				 width: auto;
}
		  
#rhydon { position: absolute;}

#wrapper { 
			width: 100%;
			float: left;
		   min-width: 700px;
		   margin-left: auto;
		   margin-right: auto;}

#leftwrapper { float:left;
				margin-top: auto;
				margin-left: auto;
			    width: 150 px;
				position: absolute; 
				}

#search { float: left; width:auto; 
			  border: 2px solid #000000;
			  -webkit-border-radius: 15px;
			  -moz-border-radius: 15px;
			  border-radius: 15px;
			  margin-top: 170px;
			  position: absolute;
			  background-color:#CCFFFF;
		 }

#poll { float: left; width: 155px;
			  border: 2px solid #000000;
			  -webkit-border-radius: 15px;
			  -moz-border-radius: 15px;
			  border-radius: 15px;
			  margin-top: 250px;
			  position: absolute;
			  background-color:#CCFFFF;
			  }

#leftcolumn { float: left; width: 155px; 
			  border: 2px solid #000000;
			  -webkit-border-radius: 15px;
			  -moz-border-radius: 15px;
			  border-radius: 15px;
			  margin-top: 10px;
			  position: relative;
			  background-color:#CCFFFF;}

#leftcolumn ul { list-style-type: none; 
				background-color:#CCFFFF;}
			  
#center {
  margin-left: 155px;
  margin-right: 155px;
  position: relative;
}

#rightwrapper { 
				margin-top: auto;
				margin-left: auto;
			    width: 150 px;
				position: relative;
}

#right {	  position: relative;
			  float: right; width: 150px;
			  border: 2px solid #000000;
			  -webkit-border-radius: 15px;
			  -moz-border-radius: 15px;
			  border-radius: 15px;
			  margin-top: 10px; 
			  background-color:#CCFFFF;
			  }

#rightcolumn { margin-left: 155px;
				width: auto; 	
				} 

#firstgen {  border-width: 2px;
		   border-style: solid;
		   background-color:#CCFFFF;
		   -webkit-border-radius: 15px;
		   -moz-border-radius: 15px;
		   border-radius: 15px;
		   margin: 10px;
		   padding: 5px;
}

#secondgen { 	border-width: 2px;
		   border-style: solid;
		   background-color:#CCFFFF;
		   -webkit-border-radius: 15px;
		   -moz-border-radius: 15px;
		   border-radius: 15px;
		   margin: 10px;
		   padding: 5px;
}

#thirdgen { border-width: 2px;
			background-color:#CCFFFF;
		   border-style: solid;
		   -webkit-border-radius: 15px;
		   -moz-border-radius: 15px;
		   border-radius: 15px;
		   margin: 10px;
		   padding: 5px;
}

#fourthgen { border-width: 2px;
		   border-style: solid;
		   background-color:#CCFFFF;
		   -webkit-border-radius: 15px;
		   -moz-border-radius: 15px;
		   border-radius: 15px;
		   margin: 10px;
		   padding: 5px;
}

#fifthgen { border-width: 2px;
			background-color:#CCFFFF;
		   border-style: solid;
		   -webkit-border-radius: 15px;
		   -moz-border-radius: 15px;
		   border-radius: 15px;
		   margin: 10px;
		   padding: 5px;
}

#stats { border-width: 2px;
			background-color:#CCFFFF;
				 border-style: solid;	
				 -webkit-border-radius: 15px;
		   		 -moz-border-radius: 15px;
		   		 border-radius: 15px;
		   	 	 margin: 10px; 
				 padding: 5px;}
