body {
	background-image:url("../images/background.jpg");
	background-color:#D6EAFF;
	background-attachment:fixed;
}

#wrapper {
	font-family:Cambria;
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

#banner {
	margin: 50px 0 0 0;
}

#banner h1 {
	font-family:Arial Black;
	font-size:150px;
	text-align:center;
}

#description {
	text-align:right;
	padding:30px;
}

#copyright {
	font-size:11px;
	margin:15px 0 0 0;
}

#search {
	margin:60px 0 0 0;
	width:600px;
	margin-left:auto;
	margin-right:auto;

}

#searchbar {
	font-size:30px;
	width:600px;
	font-family:Arial;
	padding:5px;
	color:#404447;
	border:2px solid #000000;
}

#searchbutton {
	padding:10px;
	margin:10px;
}

#centersearchbutton {
	width:50px;
	margin-left:auto;
	margin-right:auto;
}

#feedback, #contact, #register, #login {
	border:1px solid #000000;
	width:450px;
	margin-left:auto;
	margin-right:auto;
}

.white {
	background-color:#FFFFFF;
	background:rgba(255, 255, 255, 0.9);
}

.content_padding {
	padding:15px;
}

.notes {
	width:300px;
	height:150px;
	max-width:300px;
	max-height:150px;
}

.center_text {
	text-align:center;
}

.error {
	color:#FF0000;
}

.game_info {
	float:left;
}

.game_image {
	float:right;
}

.games th, .platforms th, .users th, .developers th {
	text-align:left;
	padding:5px;
}

.games .year, .platforms .year, .users .email, .developers .year {
	text-align:right;
}

.center_sort_platform {
	width:190px;
	margin-left:auto;
	margin-right:auto;
}

.center_game, .center_platform, .center_user, .center_developer {
	width:600px;
	margin-left:auto;
	margin-right:auto;
}

.game, .platform, .username, .developer {
	border-width:1px 0 0 0;
	border-color:#000000;
	border-style:solid;
}

.game td, .platform td, .username td, .developer td {
	padding:5px;
	width:300px;
}

.game .year, .platform .year, .username .email, .developer .year {
	text-align:right;
}

.red {
	color:#FF0000;
}

.float_left {
	float:left;
}

.clear_floats {
	clear:both;
}

.first_genre_col, .second_genre_col, .third_genre_col,
.first_platform_col, .second_platform_col, .third_platform_col, .fourth_platform_col {
	width:175px;
}

.redirect {
	margin-top:50px;
}

h2 {
	font-size:40px;
	font-weight:bold;
	padding:15px;
}

h3 {
	font-size:20px;
	font-weight:bold;
	padding:15px;
}

header {
	margin:35px 0 0 0;
}

nav {
	text-align:center;
	font-size:20px;
	padding:15px;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	font-weight:bold;
}

nav ul {
	padding:0;
}

nav ul li {
	display:inline;
	padding:0 35px 0 35px;
}

nav ul li a {
	text-decoration:none;
	color:#000000;
}

nav ul li a:hover {
	text-decoration:underline;
}

footer {
	margin:50px 0 25px 0;
	text-align:center;
	font-family:Helvetica;
}

footer ul li {
	display:inline;
}

footer ul li a {
	text-decoration:none;
	color:#000000;
	font-size:13px;
}

footer ul li a:hover {
	color:#FF0000;
	text-decoration:underline;
}

p {
	line-height:1.5em;
}

ol {
	list-style-type:decimal;
	margin:0 0 0 30px;
}

ul {
	list-style-type:disc;
	margin:0 0 0 30px;
	line-height:1.5em;
}

label {
	display:inline-block;
	width:100px;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
	color:#000000;
}