article {
	padding:20px;
	font-family:Cambria;
	color:#C8C8C8;
	font-size:95%;
	/*color:black;*/
	/*color:#33CCFF; /* sky blue */
}

hr {
	border-color:#FF6600;
	border-style:solid;
	border-width:thin 0 0 0;
}

header {
	width:auto;
	border-color:#151515;
	border-style:solid;
	border-width:thick 0 thick 0;
	text-align:right;
	padding:10px;
	/*margin-top:10px;*/
	margin-bottom:10px;
	clear:left; /* Puts logo under search and accounts */
	font-family:Georgia;
}

b {
	font-family: Georgia;
	/*font-family:Lucida Console;
	/*color:white;*/
	/*color:#FF3333;*/ /*somewhat brighter orange*/
	color:#33CCFF; /* sky blue */
	/*color:#FF3300; /*brighter orange*/
	/*color:#FF9900 /*orange*/
	/*color:#1B1BB3;*/ /*blue*/
}

h2, h3 {	
	color:#33CCFF;
}

h4 {
	color:#FFFFFF;
	font-size:100%;
}

body {

	/*background-color:#151515;*/
	/*background-color:#171717;*/
	/*background-color:#191919;*/
	background-color:#191919;
	background-image: url('../images/use_your_illusion.png');
	background-repeat:repeat;
	/*background-color:#333333; /* light black */
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC) to(#999999));
	background-image: -moz-linear-gradient(top, #CCCCCC, #999999);
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr=#FFCCCCCC, endColorstr=#FF999999);
	background-image: linear-gradient(#FFFFFF, #999999);*/
}

footer {
	/*width:100%;*/
	/*border-width: thick 0 0 0;
	border-style: solid;
	border-color:#171717;*/
	/*background-color:#252525;
	/*background-color:#323232;*/
	background-color:#191919;
	padding:10px;
	/*margin-top:10px;
/*	border-color:black;
	border-style:solid;
	border-width:medium;
	padding:10px;
	margin-top:10px;
	font-family:Cambria;
	/*min-width:98%;*/
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#6699CC) to(#006699));
	background-image: -moz-linear-gradient(top, #6699CC, #006699);
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr=#FF6699CC, endColorstr=#FF006699);
	background-image: linear-gradient(#6699CC, #006699);
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	margin-left:-10px;
/*	background-image: -webkit-gradient(linear, left top, left bottom, from(#006699) to(#6699CC));
	background-image: -moz-linear-gradient(top, #006699, #6699CC);
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr=#FF006699, endColorstr=#FF6699CC);
	background-image: linear-gradient(#006699, #6699CC);
	/*text-align:center;*/
	/*font-family:Lucida Console;*/
	clear:both; /* Puts under latest revisions and forum posts */
}

footer li {
	list-style:none;
	/*color:black;*/
	color:#FF6600;
	/*color:#FF3300; /*bright orange*/
	/*color:#1B1BB3;*/ /*blue*/
	font-size:90%;
}

footer li a {
	text-decoration:none;
	color:white;
	
	font-size:90%;
}

footer li a:hover {
	text-decoration:underline;
}

label {
	display:inline-block;
	text-align:right;
	margin-right:10px;
	color:#FFFFFF;
	padding:4px;
	width:30%;

}

fieldset {
	color:#FFFFFF;
	border-color:#FFFFFF;
	border-style:ridge;
	border-width:thin
}

legend {
	text-align:center;
	font-family:Cambria;
}

.textbox {
	border:thin solid #000000;
}

.button {
	padding-top:3px;
	padding-bottom:3px;
	font-family:Lucida Grande;
}

.collapse_img {
	float:left;
}

.collapse_img:hover {
	cursor:pointer;
}

.upload {
	/*display:block;*/
	padding:10px;
	font-family:Cambria;
	color:white;
	/*text-align:right;*/
}

.content {
	width:50%;
	border-color:#171717;
	border-style:solid;
	border-width:thin 0 0 0;
	border-radius:15px;
	-moz-border-radius:15px;
	padding:10px;
	margin-bottom:10px;
	float:left;
	font-family:Cambria;
}

.content li {
	list-style-type:none;
}

.content li a {
	text-decoration:none;
	color:black;
}

.content li a:hover {
	text-decoration:underline;
}

.console {
	width:300px;
	background-color:#404040;
	padding:5px 10px 5px 10px;
	-webkit-box-shadow: 3px 3px 3px #828282;
	-moz-box-shadow: 3px 3px 3px #828282;
	box-shadow: 3px 3px 3px #828282;
	cursor:pointer;
}

.console:hover {
	background-color:#595959;
}

.gameList {
	list-style-type:none;
	display:block;
	/*margin-left:auto;
	margin-right:auto;*/
	/*display:none;*/
	/*margin-left:-40px;*/
	/*margin-top:5px;*/
}

.gameList li a {
	text-decoration:none;
	color:#FFFFFF;
}

.gameList li a:hover {
	text-decoration:underline;
}

.game {
	/*margin-left:-12.5px;
	/*width:275px;*/
	width:85%;
	padding:5px 10px 5px 10px;	
	font-size:90%;
}

.text {
	color:white;
	font-family:Cambria;
	padding:5px;
}

.gameText {
	font-family:Cambria;
	font-size:85%;
	float:right;
}

.count {
	font-family:Cambria;
	font-size:85%;
}

.title {
	/*display:block;
	padding:10px;
	color:#FFFFFF;
	background: #1e5799; 
	background: -moz-linear-gradient(-45deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); 
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); 
	background: -webkit-linear-gradient(-45deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); 
	background: -o-linear-gradient(-45deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); 
	background: -ms-linear-gradient(-45deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); 
	background: linear-gradient(135deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );*/
	background:rgb(10,10,10); /* FALL BACK COLOR */
	background:rgba(10, 10, 10, 0.4);
	display:block;
	padding:10px;
	color:#33CCFF;
	border-width:thin 0 0 0;
	border-style:solid;
	border-color:#FF6600;
	text-align:center;
	
}

.links {
	color:#33CCFF;
}

.links:hover {
	color:#FFFFFF;
	text-decoration:underline;
}

.error {
	padding:20px;
	color:red;
}

.error_star {
	color:red;
}

.headline {
	color:#FFFFFF;
	font-family:Cambria;
	font-size:x-large;
}


#wrapper {
	/*width:70%;*/
	font-family:Cambria;
	color:#C8C8C8;
	/*color:#FFFFFF;*/
	/*font-size:95%;*/
	min-width:900px;
	max-width:900px;
	/*min-width:760px;*/
	margin-left:auto;
	margin-right:auto;
	/*background-color:#333333; /* dark grey */ /* SAVE!!!!!!*/
	/*background-color:#252525;*/ /* PREVIOUS COLOR */
	/*background-color:#323232; */
}

#content_container {
	min-width:900px;
	max-width:900px;
	background-color:#FFFFFF;
	background:rgba(255,255,255,0.1);
	margin-top:-15px;
	float:left;
}

/*.content_wrapper {
	width:100%;
}*/

.content_clear_floats {
	clear:both;	
}

#left_wrapper {
	float:left;
	width:63%;
	margin:25px 0px 15px 25px;
}

#right_wrapper {
	float:right;
	width:30%;
	margin:25px 25px 15px 0;
}

#announcements {
	width:550px;
	margin-bottom:20px;
	background:rgb(25,25,25); /* FALL BACK COLOR */
	background:rgba(25,25,25,0.5);
	-webkit-box-shadow: 3px 3px 3px #606060;
	-moz-box-shadow: 3px 3px 3px #606060;
	box-shadow: 3px 3px 3px #606060;
}


#updates {
	width:550px;
	margin-bottom:15px;
	background:rgb(25,25,25); /* FALL BACK COLOR */
	background:rgba(25,25,25,0.5);
	-webkit-box-shadow: 3px 3px 3px #606060;
	-moz-box-shadow: 3px 3px 3px #606060;
	box-shadow: 3px 3px 3px #606060;
	clear:both;
}

#homelatestreviews {
	width:265px;
	margin:0 20px 20px 0;
	float:left;
	background:rgb(25,25,25); /* FALL BACK COLOR */
	background:rgba(25,25,25,0.5);
	-webkit-box-shadow: 3px 3px 3px #606060;
	-moz-box-shadow: 3px 3px 3px #606060;
	box-shadow: 3px 3px 3px #606060;	
}

#homelatestguides {
	width:265px;
	float:left;
	margin-bottom:20px;
	background:rgb(25,25,25); /* FALL BACK COLOR */
	background:rgba(25,25,25,0.5);
	-webkit-box-shadow: 3px 3px 3px #606060;
	-moz-box-shadow: 3px 3px 3px #606060;
	box-shadow: 3px 3px 3px #606060;
}

#poll, #posts, #twitter_feed {
	overflow:hidden;
	margin-bottom:20px;
	background:rgb(25,25,25); /* FALL BACK COLOR */
	background:rgba(25,25,25,0.5);
	-webkit-box-shadow: 3px 3px 3px #606060;
	-moz-box-shadow: 3px 3px 3px #606060;
	box-shadow: 3px 3px 3px #606060;
}

#posts li {
	list-style-type:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	padding:10px;
	clear:both;
}

#posts li a {
	color:#C8C8C8;
	text-decoration:none;
}

#posts li a:hover {
	color:#33CCFF;
	text-decoration:underline;
}

.forum_post {
	font-size:14px;
}

.post_stats {
	display:inline-block;
	text-align:left;
	font-size:85%;
	float:left;
}

.author {
	display:block;
	text-align:right;
	font-size:85%;
}

.post_container {
	margin-bottom:10px;
	clear:both;
}

/*#content_padding {
	padding:10px;
}*/

.twitter-timeline {
	color:#C8C8C8;
}

#triangle {
	/*float:right;*/
	/*display:block;*/
	padding-right:15px;
	padding-left:-5px;
	/*margin-right:2px;*/
}

#triangle:active li {
	color:white;
}



#accounts {
	float:right;
	width:auto;
	font-size:90%;
	/*margin-bottom:5px;*/
	padding:5px;
}

#accounts a {
	text-decoration:none;
}

#accounts a:hover {
	text-decoration:underline;
}

.username, .password, #search_field {
	font-family:Lucida Grande;
	color:#999999;
}

#welcome {
	float:right;
	width:auto;
	color:white;
	padding-top:15px;
}

#login {
	width:30%;
	margin-bottom:20px;
}

#register_form {
	width:50%;
	margin-bottom:20px;
	text-align:left;
}

#month, #day, #year, #gender, #age {
	margin-left:-4px;
}

#register {
	float:left;
	padding:5px;
}

#forgot {
	float:right;
	padding:5px;
}

#register a:hover, #forgot a:hover{
	color:#33CCFF;
	text-decoration:underline;
}

#search {
	float:left;
	width:auto;
	color:#CCCCCC;
	padding:5px;
}



/* Error */
#nav {
    /*width:200%;
    margin-left:-50%;*/
  
	/*width:100%;*/
	padding:7px;
	border:thin solid #000000;
	/*margin-top:20px;
	/*margin-bottom:20px;
	/*font-family:"MS Sans Serif", Geneva, sans-serif;*/
	font-family:"Arial Black";
	/*font-family:"Courier New", Courier, monospace;*/
	/*font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#999999) to (#FFFFFF));
	background-image: -moz-linear-gradient(top, #999999, #FFFFFF);
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr=#FF999999, endColorstr=#FFFFFFF);
	background-image: linear-gradient(#999999, #FFFFFF);
}


#nav li {
	list-style:none;
	display:inline-block;
	margin:-2px;
	position:relative;
}	


#nav li > a {
	text-decoration:none;
	padding:7px;
	color:#171717;
}

#nav > li:hover > a {
	padding:7px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#444444) to (#000000));
	background-image: -moz-linear-gradient(top, #444444, #000000);
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr=#FF444444, endColorstr=#000000);
	background-image: linear-gradient(#444444, #000000);
/*	background-image: -webkit-gradient(linear, left top, left bottom, from(#999999) to (#000000));
	background-image: -moz-linear-gradient(top, #999999, #000000);
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr=#FF999999, endColorstr=#000000);
	background-image: linear-gradient(#999999, #000000);*/
	color:#FFFFFF;
}

#nav table {
	background-color:#404040;
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF) to (#666666));
	background-image: -moz-linear-gradient(top, #FFFFFF, #666666);
	filter: progid:DXImageTransform.Microsoft.gradient (startColorstr=#FFFFFFFF, endColorstr=#FF666666);
	background-image: linear-gradient(#FFFFFF, #666666);*/
	border-color:#000000;
	border-width:0px 2px 2px 2px;
	border-style:solid;
	border-radius:0px 0px 10px 10px;
	/*-webkit-box-shadow:-2px 2px 2px #000000;
	-moz-box-shadow:-2px 2px 2px #000000;
	box-shadow:-2px 2px 2px #000000;*/
	padding:5px;
	width:100px;
}

#nav li:hover .dropdown {
	display:block;
	position:absolute;
	margin-top:7px;
}

.dropdown tr:hover {
	text-decoration:underline;
}


.dropdown tr td {
	/*font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;*/
	font-family:Arial, Helvetica, sans-serif;
}


.dropdown tr td a {
	text-decoration:none;
	font-size:14px;
	/*font-size:85%;*/
	
	color:#FFFFFF;
	/*padding:10px;*/
}


.dropdown {
	display:none;
}


#sidenav {
	float:left;
	/*border-color:#000000;
	border-style:solid;
	border-width:0 thick 0 0;*/
	/*height:auto;*/
	/*height:300px; /* MAY NEED TO CHANGE ACCORDINGLY */
	padding:20px;
	font-family:Cambria;
	margin-top:-10px;
}

#sidenav li {
	list-style-type:none;
	padding-left:10px;
}

#sidenav li a {
	text-decoration:none;
	/*color:#FFFFFF;*/
	color:#C8C8C8;
}

#sidenav li:hover a {
	text-decoration:underline;
}

#sitemap {
	padding:10px;
	font-family:Cambria;
}

#sitemap li {
	/*display:block;*/
	list-style:square;
}

#sitemap li a {
	color:black;
	text-decoration:none;
}

#sitemap li a:hover {
	text-decoration:underline;
}


#criteria, #overview {
	padding:20px;
	border-color:#171717;
	border-style:solid;
	border-width:0 0 0 thick;	
	margin-top:-10px;
	/*margin-bottom:20px;*/
	float:left;
	font-family:Cambria;	
}

#reviews {
	width:40%;
	height:350px; /* TAKE OFF LATER */
	border-color:#171717;
	border-style:solid;
	border-width:0 0 0 thick;
	/*border-color:#FF6600;
	border-style:solid;
	border-width:thin 0 0 0;*/
	margin-top:-10px;
	padding:20px;
	/*margin-bottom:20px;*/
	float:left;
	font-family:Cambria;	
}

#topreviews {
	clear:right; /* Puts hotreviews under latestreviews if latest is too long */
	float:right;
	width:30%;
	/*border-color:#000000;
	border-style:solid;
	border-width:0 0 0 thick;
	margin-top:-10px;*/
	border-color:#FF6600;
	border-style:solid;
	border-width:thin 0 0 0;
	padding:10px;
	/*margin-bottom:20px;*/
	font-family:Cambria;	
}

#latestreviews {
	clear:right; /* Puts hotreviews under latestreviews if latest is too long */
	float:right;
	width:30%;
	/*border-color:#000000;
	border-style:solid;
	border-width:thick 0 thick thick;*/
	border-color:#FF6600;
	border-style:solid;
	border-width:thin 0 0 0;
	padding:10px;
	/*margin-bottom:20px;*/
	font-family:Cambria;	
}

#guides {
	width:50%;
	border-color:#FF6600; /* lighter orange */
	border-style:solid;
	border-width:thin 0 0 0;
	padding:10px;
	/*margin-bottom:20px;*/
	float:left;
	font-family:Cambria;
}

#latestguides, #topguides {
	clear:right; /* Puts hotreviews under latestreviews if latest is too long */
	float:right;
	width:40%;
	border-color:#FF6600;
	border-style:solid;
	border-width:thin 0 0 0;
	padding:10px;
	/*margin-bottom:20px;*/
	font-family:Cambria;
}

#topreviews ul li, #reviews ul li, #latestreviews ul li, #guides ul li {
	list-style-type: none;
}

#topreviews ul li a, #latestreviews ul li a {
	text-decoration:none;
	color:white;
}

#submitreview {
	clear:left;
	float:left;
	width:50%;
	border-color:#FF6600; /* lighter orange */
	border-style:solid;
	border-width:thin 0 0 0;
	/*border-radius:15px;
	-moz-border-radius:15px;*/
	padding:10px;
	margin-bottom:20px;
	font-family:Cambria;
}

#submitreview li, #hotreviews li {
	list-style-type:none;
	font-family:"Times New Roman", Times, serif;
}

#hotreviews li a {
	text-decoration:none;
	color:black;
}

#hotreviews li a:hover {
	text-decoration:underline;
}


#footcontainer {
	margin: 0;
}

#footnav, #footacc, #footsup, #footmed, #footabout, #footother {
	margin-left:6%;
	float:left;
	overflow:hidden;
	clear:right;
}


#copyright {
	clear:both;
	font-size:90%;
	text-align:right;
}



/* User Dashboard */
.personal_info, #location {
	font-family:Georgia;
	font-size:80%;
	width:200px;
	color:#999999;
}

#xone_gamertag, #x360_gamertag, #ps4_psn, #ps3_psn, #steam_user, #wiiu_user {
	font-family:Georgia;
	font-size:80%;
	width:200px;
	color:#999999;
}

#wii_part1, #wii_part2, #wii_part3, #wii_part4, #_3ds_part1, #_3ds_part2, #_3ds_part3 {
	margin-left:0px;
	margin-right:5px;
	color:#999999;
}

#facebook, #youtube, #twitter, #instagram, #vine, #google_talk, #aim, #skype {
	font-family:Georgia;
	font-size:80%;
	width:215px;
	color:#999999;
}

.dashboard_list {
	text-align:left;
	padding:0;
	margin-right:0px;
}

#dashboard_wrapper {
	margin: 5% 10% 5% 10%;
}

#dashboard_wrapper a {
	text-decoration:none;
	color:#FFFFFF;
}

#dashboard_wrapper a:hover {
	text-decoration:underline;
}

#profile {
	overflow:hidden;
	background-color:#353535;
}

#dashboard_col1, #dashboard_col2, #dashboard_col3 {
	margin-left:50px;
	float:left;
}

#avatar {
	height:150px;
	width:150px;
	float:left;
	background-color:#999999;
}


#info {
	margin-top:30px;
	margin-bottom:30px;
	background-color:#353535;
	clear:both;
	float:left;
	width:45%;
}

#gaming {
	margin-top:30px;
	margin-bottom:30px;
	background-color:#353535;
	float:right;
	width:45%;	
}

#media_wrapper {
	clear:both;
	background-color:#353535;
	overflow:hidden;
}

#media_col1 {
	width:50%;
	float:left;
}

#media_col2 {
	width:50%;
	float:right;
}

#bio {
	clear:both;
	background-color:#353535;
	margin-top:30px;
}

#signature {
	clear:right;
	background-color:#353535;
	margin-top:30px;
}





/* Footer Stuff */
#team {
	padding:20px;
}

.team_member {
	background:rgb(25,25,25); /* FALL BACK COLOR */
	background:rgba(25,25,25,0.5);
	border-width: thin 0 0 0;
	border-color: #FF6600;
	border-style: solid;
	margin: 10px 0 10px 0;
}

.team_member a {
	color:#33CCFF;
	/*color:#FFFFFF;*/
}

.team_member a:hover {
	color:#FFFFFF;
}

#feedback, #contact, #account_support {
	width:65%;
	background:rgb(25,25,25); /* FALL BACK COLOR */
	background:rgba(25,25,25,0.5);
	margin: 20px auto 20px auto;
	padding-bottom:20px;
}

#feedback_label, #contact_label, #account_label  {
	float:left;
}

#feedback_comments, #contact_inquiry, #account_inquiry {
	float:left;
	margin-bottom:10px;
	resize:vertical; /* DOESN'T WORK OUTSIDE OF CHROME AND SAFARI!!!! */
}

#redirect {
	width:65%;
	background:rgb(25,25,25); /* FALL BACK COLOR */
	background:rgba(25,25,25,0.5);
	margin: 40px auto 0 auto;
	border:medium solid #000000;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
