/* Section on web page for displaying the timer */
.timer {
	width:30%;
	float:left;
}

/* Section on web page for displaying locations where Breakers broke items */
.brokenLocations {
	width:70%;
	float:left;
}

/* Section on web page for displaying Fixer values */
.fixers {
	width:50%;
	float:left;
}

/* Section on web page for displaying Breaker values */
.breakers {
	width:50%;
	float:left;
}

/* Styles for each cell in grid */
.cell {
	width:60px;
	height:60px;
	text-align:center;
}

/* Styles for table elements */
table, tr, td {
	border: 1px solid black;
	margin:20px 0 20px 0;     /* Only applicable to table tag */
}

/* Clear floats for "fixers" and "breakers" classes */
.clear {
	clear:both;
}

/* Cyan color for grid cell if only a fixer is in that cell */
.cyan {
	background-color:#33CCFF;
}

/* Red color for grid cell if only a breaker is in that cell */
.red {
	background-color:#FF0000;
}

/* Magenta color for grid cell if a fixer AND breaker are in that cell */
.magenta {
	background-color:#FF33CC;
}


