/* CMS-specific Selectors */
.logoheader {
  float:none;
  /*clear:both; /* Puts under search box and links */ 
}


/* General page selectors */
#user {
  display:none;
}

.normal {
  color:#C8C8C8;
  font-size:95%;
  font-weight:normal;
  font-family:Cambria;
}

a img {
  border: none; 
}

.clean_up {
  overflow:hidden;
}

.margin_10 {
  margin:10px;
}

.align_right {
  text-align:right;
}

.blue {
  color:#33CCFF; 
}

.orange_line {
  border-width:thin 0 0 0;
  border-style:solid;
  border-color:#FF6600;
}

.content_section {
  padding:0 20px 10px 20px;
}

p {
  display:block;
  line-height:1.5;
}

#top_wrapper {
  padding:8px;
  margin:20px 0 0 0;
}

#top_links {
  display:block;
}

.top_link {
  color:#69B6D3;
  font-size:18px;
  text-decoration:none;
  font-family: Verdana, Arial, Sans-Serif;
}

.top_link:hover {
  color:#FFFFFF;
  text-decoration:underline;
}

.top_link img {
  margin-right:5px;
}

hr {
  border-color:#C8C8C8;
  border-style:solid;
  border-width:thin 0 0 0;
}

header {
  width:auto;
  border-color:#151515;
  border-style:solid;
  border-width:thick 0 thick 0;
  text-align:right;
  padding:10px;
  margin-bottom:10px;
  clear:left; /* Puts logo under search and accounts */
  font-family:Georgia;
}

h1, h2, h3 {
  font-family: Georgia;
  font-size:15px;
  margin:0;
  color:#33CCFF;
}

h1 a, h2 a, h3 a {
  color:#33CCFF;
  text-decoration:none;
}

h1 a:hover, h2 a:hover, h3 a:hover {
  color:#FFFFFF;
  text-decoration:underline;
}

body {
  background-image:url('http://www.hyakkiscorner.com/images/use_your_illusion.png');
  background-repeat:repeat;
}

footer {
  background-color:#191919;
  padding:10px;
  clear:both; /* Puts under latest revisions and forum posts */
}

footer li {
  list-style:none;
  color:#FF6600;
  font-size:90%;
}

footer li a {
  text-decoration:none;
  color:white;
  font-size:90%;
}

footer li a:hover {
  text-decoration:underline;
}

.content_label {
  display:inline-block;
  text-align:right;
  margin-right:10px;
  padding:4px;
  width:30%;
}

fieldset {
  color:#FFFFFF;
  border-color:#FFFFFF;
  border-style:ridge;
  border-width:thin
}

legend {
  text-align:center;
  font-family:Cambria;
}

.textbox {
  border:thin solid #000000;
}

.button {
  padding:3px 0 3px 0;
  font-family:Lucida Grande;
  border:thin solid #000000;
  background-color:#404040;
  color:#FFFFFF;
}

.button:hover {
  cursor:pointer;
  background-color:#CCCCCC;
  color:#000000;
}

.collapse_img {
  float:left;
}

.collapse_img:hover {
  cursor:pointer;
}

.upload {
  padding:10px;
  font-family:Cambria;
  color:white;
}

.content {
  width:50%;
  border-color:#191919;
  border-style:solid;
  border-width:thin 0 0 0;
  border-radius:15px;
  -moz-border-radius:15px;
  padding:10px;
  margin-bottom:10px;
  float:left;
  font-family:Cambria;
}

.content li {
  list-style-type:none;
}

.content li a {
  text-decoration:none;
  color:black;
}

.content li a:hover {
  text-decoration:underline;
}

.link {
  color:#69B6D3;
  font-family:Cambria;
  text-decoration:none;
}

.link:hover {
  color:#ffffff;
  text-decoration:underline;
}

.count {
  font-family:Cambria;
  font-size:85%;
}

.title {
  background:rgb(10,10,10); /* FALL BACK COLOR */
  background:rgba(10, 10, 10, 0.4);
  display:block;
  padding:10px;
  color:#33CCFF;
  border-width:thin 0 0 0;
  border-style:solid;
  border-color:#FF6600;
  text-align:center;
}

.links {
  color:#69B6D3;
}

.links:hover {
  color:#FFFFFF;
  text-decoration:underline;
}

.error {
  padding:20px;
  color:#FF6C6C
}

.error_star {
  color:#FF6C6C
}

.headline {
  color:#FFFFFF;
  font-family:Cambria;
  font-size:x-large;
}

.outer_wrapper {
  min-width:1220px;
  max-width:1220px;
  margin:0 auto 0 auto;
}

.inside_big_wrapper {
  min-width:1220px;
  max-width:1220px;
  position:relative;
  margin:0 0 0 -160px;
}

#wrapper {
  font-family:Cambria;
  color:#C8C8C8;
  min-width:900px;
  max-width:900px;
  margin:0 auto 0 auto;
  font-size:95%;
}

#content_container {
  min-width:900px;
  max-width:900px;
  margin-top:-15px;
  float:left;
}

.content_clear_floats {
  clear:both;  
}

#left_wrapper {
  float:left;
  width:63%;
  margin:25px 0px 25px 25px;
}

#right_wrapper {
  float:right;
  width:30%;
  margin:25px 25px 25px 0;
}

#announcements {
  width:550px;
  margin-bottom:20px;
  background:rgb(25,25,25); 
  background:rgba(25,25,25,0.5);
  -webkit-box-shadow: 3px 3px 3px #606060;
  -moz-box-shadow: 3px 3px 3px #606060;
  box-shadow: 3px 3px 3px #606060;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#606060')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#606060');
  overflow: hidden;
}


#updates {
  width:550px;
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
  -webkit-box-shadow: 3px 3px 3px #606060;
  -moz-box-shadow: 3px 3px 3px #606060;
  box-shadow: 3px 3px 3px #606060;
  clear:both;
}


#homelatestreviews {
  width:265px;
  margin:0 20px 20px 0;
  float:left;
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
  -webkit-box-shadow: 3px 3px 3px #606060;
  -moz-box-shadow: 3px 3px 3px #606060;
  box-shadow: 3px 3px 3px #606060;  
}

.review_list, .guide_list {
  padding:10px;
}

.review_list ul, .guide_list ul {
  list-style-type:none;
}

.review_list ul li, .guide_list ul li {
  padding-bottom:3px;  
  margin-left:-25px;
}

.review_list ul li a, .guide_list ul li a {
  color:#69B6D3;
  text-decoration:none;
}

.review_list ul li a:hover, .guide_list ul li a:hover {
  color:#FFFFFF;
  text-decoration:underline;
}

#homelatestguides {
  width:265px;
  float:left;
  margin-bottom:20px;
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
  -webkit-box-shadow: 3px 3px 3px #606060;
  -moz-box-shadow: 3px 3px 3px #606060;
  box-shadow: 3px 3px 3px #606060;
}

.ad {
  margin-bottom:20px; 
  border-width:thin 0 0 0;
  border-style:solid;
  border-color:#FF6600;
  padding:10px;
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
}

.vertical_ad1 {
  float:left;  
  margin-top:-15px;
}

.vertical_ad2 {
  float:right;    
  margin-top:-15px;
}

#connect {
  width:550px;
  margin-top:200px;
  text-align:center;
  clear:both;
}

#connect b {
  font-size:20px;
  color:#FFFFFF;
}

#connect img {
  padding:5px;
}

#posts, #tweets {
  overflow:hidden;
  margin-bottom:20px;
  background:rgb(25,25,25); 
  background:rgba(25,25,25,0.5);
  -webkit-box-shadow: 3px 3px 3px #606060;
  -moz-box-shadow: 3px 3px 3px #606060;
  box-shadow: 3px 3px 3px #606060;
}

#posts_wrapper {
  padding:15px; 
}

#posts li {
  list-style-type:none;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  padding-bottom:10px;
}

#posts li a {
  color:#69B6D3;
  text-decoration:none;
}

#posts li a:hover {
  color:#FFFFFF;
  text-decoration:underline;
}

.forum_post {
  font-size:12px;
}

.post_stats {
  font-size:90%;
  float:left;
}

.author {
  font-size:90%;
  float:right;
}

.post_container {
  margin-bottom:10px;
  clear:both;
}

.twitter-timeline {
  color:#C8C8C8;
}

#stream {
  width:95%;
  margin:20px auto 20px auto;
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
  -webkit-box-shadow: 3px 3px 3px #606060;
  -moz-box-shadow: 3px 3px 3px #606060;
  box-shadow: 3px 3px 3px #606060;
}

#search {
  float:left;
  width:100%;
}


#panel {
  background: #191919;
  color: #FFFFFF;
  border-width: thick 0 thick 0;
  border-style: solid;
  border-color: #191919;
  padding: 8px;  
  font-size: 11px;
  font-family: Verdana, Arial, Sans-Serif;
  margin: 15px 0 15px 0;
}

#panel .remember_me input {
  vertical-align: middle;
  margin-top: -1px;
}

#panel .links {
  margin: 0;
  float: right;
}

#panel a, #panel a:link {
  color:#69B6D3;
  text-decoration:none;
}

#panel a:hover {
  color:#FFFFFF;
  text-decoration:underline;
}

/* Error */
#nav {
  padding:7px;
  border:thin solid #000000;
  font-family:"Arial Black", Verdana, sans-serif;
  background-color: #999999;
  filter: progid:DXImageTransform.Microsoft.gradient (startColorstr=#FF999999, endColorstr=#FFFFFFF);

  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #999999 0%, #FFFFFF 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #999999 0%, #FFFFFF 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #999999 0%, #FFFFFF 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999999), color-stop(1, #FFFFFF));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #999999 0%, #FFFFFF 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #999999 0%, #FFFFFF 100%);
}


#nav > li {
  list-style:none;
  display:inline-block;
  position:relative;
}  


#nav li > a {
  text-decoration:none;
  padding:7px;
  color:#000000;
}

#nav > li:hover > a {
  padding:7px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444) to (#000000));
  background-image: -moz-linear-gradient(top, #444444, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient (startColorstr=#FF444444, endColorstr=#000000);
  background-image: linear-gradient(#444444, #000000);
  color:#FFFFFF;
}

#nav ul {
  display:none; 
  text-align:left;
}

#nav li:hover ul {
  background-color:#404040;
  border-color:#000000;
  border-width:0px 2px 2px 2px;
  border-style:solid;
  padding:3px;
  width:100px;
  display:block;
  position:absolute;
  margin-top:7px;
  list-style-type:none;
  z-index:1;
}

#nav ul li {
  font-family:Arial, Helvetica, sans-serif;
  padding:3px;
}

#nav ul li a {
  text-decoration:none;
  font-size:14px;  
  color:#FFFFFF; 
}

#nav ul li a:hover {
  text-decoration:underline; 
}


#sidenav {
  font-family:Cambria;
  padding:15px;
}

#sidenav a {
  font-size:16px;  
}

#sitemap {
  padding:10px;
  font-family:Cambria;
}

#sitemap li {
  list-style:square;
}

#sitemap li > a {
  color:#C8C8C8;
  text-decoration:underline;
}

#sitemap li > a:hover {
  color:#69B6D3;
}

#criteria_wrapper, #review_wrapper { 
  font-family:Cambria;
  width:100%;
  margin: 0 auto 0 auto;
}

#right_review_wrapper {
  float:left;
  margin:0 25px 25px 45px;
}

#criteria, #overview {
  width:90%;
  margin: 0 auto 25px auto;
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
  -webkit-box-shadow: 3px 3px 3px #606060;
  -moz-box-shadow: 3px 3px 3px #606060;
  box-shadow: 3px 3px 3px #606060;
}

.review, .guide {
  width:95%;
  margin:25px auto 25px auto;
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
  -webkit-box-shadow: 3px 3px 3px #606060;
  -moz-box-shadow: 3px 3px 3px #606060;
  box-shadow: 3px 3px 3px #606060;
}

.review_content, .guide_content {
  padding:25px;
}

.review_content b, .guide_content b {
  color:#33CCFF;
}

#reviews {
  width:400px;
  float:left;
  margin: 0 0 25px 25px;
  font-family:Cambria; 
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
  -webkit-box-shadow: 3px 3px 3px #606060;
  -moz-box-shadow: 3px 3px 3px #606060;
  box-shadow: 3px 3px 3px #606060; 
}

#featured_reviews {
  width:400px;
  font-family:Cambria;  
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
  -webkit-box-shadow: 3px 3px 3px #606060;
  -moz-box-shadow: 3px 3px 3px #606060;
  box-shadow: 3px 3px 3px #606060;
  margin-bottom:20px;
}

#latest_reviews {
  width:400px;
  font-family:Cambria;  
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
  -webkit-box-shadow: 3px 3px 3px #606060;
  -moz-box-shadow: 3px 3px 3px #606060;
  box-shadow: 3px 3px 3px #606060;
}

.commenter {
  width:150px;
}

.commenter.small {
  font-size:85%;  
}

.comment {
  width:100%; 
  padding:10px;
}

.comment_box {
  width:85%; 
  display:block;
  margin:10px auto 10px auto;
  color:#999999;
  border:thin solid #000000;
}

.comment_text {
  vertical-align:top;
  text-align:left;
  width:535px;
  /*width:77%;*/ /*KEEP FOR DYNAMIC SIZING */
}

pre {
  margin:0;
  font-family:Cambria;
  font-size:100%; 
  text-wrap:suppress;
}

#guides {
  width:50%;
  float:left;
  font-family:Cambria;
  margin:25px 0 25px 25px;
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
  -webkit-box-shadow: 3px 3px 3px #606060;
  -moz-box-shadow: 3px 3px 3px #606060;
  box-shadow: 3px 3px 3px #606060;
}

#featured_guides {
  float:right;
  width:40%;
  font-family:Cambria;
  margin:25px 25px 0 0;
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
  -webkit-box-shadow: 3px 3px 3px #606060;
  -moz-box-shadow: 3px 3px 3px #606060;
  box-shadow: 3px 3px 3px #606060;
}

#latest_guides {
  float:right;
  clear:right;
  width:40%;
  font-family:Cambria;
  margin:25px 25px 25px 0;
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
  -webkit-box-shadow: 3px 3px 3px #606060;
  -moz-box-shadow: 3px 3px 3px #606060;
  box-shadow: 3px 3px 3px #606060;
}

#featured_reviews ul li, #reviews ul li, #latest_reviews ul li, #guides ul li, #featured_guides ul li, #latest_guides ul li {
  list-style-type: square;
}

#featured_reviews ul li a, #reviews ul li a, #latest_reviews ul li a, #guides ul li a, #featured_guides ul li a, #latest_guides ul li a {
  color:#69B6D3;
  text-decoration:none;
}

#featured_reviews ul li a:hover, #reviews ul li a:hover, #latest_reviews ul li a:hover, #guides ul li a:hover, #featured_guides ul li a:hover, #latest_guides ul li a:hover {
  color:#C8C8C8;
  text-decoration:underline; 
}  

#submitreview li, #hotreviews li {
  list-style-type:none;
  font-family:"Times New Roman", Times, serif;
}

#hotreviews li a {
  text-decoration:none;
  color:black;
}

#hotreviews li a:hover {
  text-decoration:underline;
}

#footnav, #footacc, #footsup, #footmed, #footabout, #footother {
  margin-left:6%;
  float:left;
  overflow:hidden;
  clear:right;
}


#copyright {
  clear:both;
  font-size:90%;
  text-align:right;
}

/* Footer Stuff */

.team_member {
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
  border-width: thin 0 0 0;
  border-color: #FF6600;
  border-style: solid;
  margin: 10px 0 10px 0;
}

.team_member a {
  color:#69B6D3;
}

.team_member a:hover {
  color:#FFFFFF;
}

#feedback, #contact, #account_support {
  /*width:65%;*/
  width:95%;
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
  margin: 25px auto 25px auto;
  padding-bottom:20px;
}

#feedback_label, #contact_label, #account_label  {
  float:left;
}

#feedback_comments, #contact_inquiry, #account_inquiry {
  float:left;
  margin-bottom:10px;
  resize:vertical; /* DOESN'T WORK OUTSIDE OF CHROME AND SAFARI!!!! */
}

#redirect {
  width:65%;
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
  margin: 40px auto 0 auto;
  border:medium solid #000000;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

#terms, #privacy_policy, #about, #team {
  width:95%;
  margin: 25px auto 25px auto;
  background:rgb(25,25,25);
  background:rgba(25,25,25,0.5);
  -webkit-box-shadow: 3px 3px 3px #606060;
  -moz-box-shadow: 3px 3px 3px #606060;
  box-shadow: 3px 3px 3px #606060;
}