h1 {
  font-family: Georgia;
  font-size:15px;
  margin:0;
}

.review, .guide {
  width:80%;
  margin:25px auto 25px auto;
  background:rgb(25,25,25); /* FALL BACK COLOR */
  background:rgba(25,25,25,0.5);
  -webkit-box-shadow: 3px 3px 3px #606060;
  -moz-box-shadow: 3px 3px 3px #606060;
  box-shadow: 3px 3px 3px #606060; 
}

.title {
  background:rgb(10,10,10); /* FALL BACK COLOR */
  background:rgba(10, 10, 10, 0.4);
  display:block;
  padding:10px;
  color:#33CCFF;
  border-width:thin 0 0 0;
  border-style:solid;
  border-color:#FF6600;
  text-align:center;
}

.content_section {
  padding:0 20px 10px 20px;
}

p {
  display:block;
  line-height:1.5;
}